@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  list-style: none;
  text-decoration: none;
}

.small_title {
  font-size: 12px;
  font-weight: bold;
  color: #002c5f;
  padding: 3px 0;
}

.img_text {
  font-size: 18px;
  font-weight: bold;
}

.clear::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}

.close_btn:hover {
  transform: rotate(180deg);
}

/* --- header --- */
#header {
  position: relative;
  width: 100%;
  background-color: #f6f3f2;

  .header_wrap {
    position: relative;
    margin: auto;
    width: 1120px;

    /* --- 왼쪽에 위치한 로고 ---- */
    .logo {
      float: left;
      padding: 27px 70px 22px 0;

      img {
        display: flex;
        width: 155px;
      }
    }

    /* --- 가운데 위치한 메뉴 영역 --- */
    .menu_wrap {
      position: relative;
      float: left;
      display: flex;

      .menu_li { 
        padding: 23px 35px 26px;

        a {
          color: #555;
          font-weight: 600;
          &:hover { color: #002c5f; }
        }

        @at-root .ico_link {
          padding-left: 5px;
          filter: invert(1);
        }
      }
    }

    /* --- 오른쪽에 위치한 메뉴 영역 --- */
    .right_menu_wrap {
      .top_img_li {
        float: left;
        padding: 26px 0 23px 20px;
      }

      .margin { margin-left: 30px; }

      li button {
        border: none;
        cursor: pointer;
        background-color: #f6f3f2;

      }
      .top_img {width: 17px;}

      .language {
        button {
          padding: 20px 0 20px 30px;
          font-size: 19px;
          font-weight: 600;
          color: #555;
          &:hover { color: #002c5f; }
        }

        .arrow {
          position: relative;
          width: 10px;
          filter: invert(.6);
          cursor: pointer;
          transition: .5s;
        }
      }

      /* --- 언어 설정 메뉴 --- */
      .language_menu {
        position: absolute;
        right: 0px;
        padding: 20px 30px 0;
        background-color: #f6f3f2;
        text-align: center;
        z-index: 9;
        display: none;

        li {
          padding-bottom: 10px;
          &:last-child a {
            color: #000;
            font-weight: bold;
          }

          a {
            color: #555;
            font-size: 14px;
            &:hover {
              color: #000;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

/* --- 회사소개 서브메뉴 --- */
.sub_menu {
  position: absolute;
  width: 100%;
  border-top: 1px solid #e4dcd3;
  border-bottom: 1px solid #e4dcd3;
  background-color: #f6f3f2;
  z-index: 9;
  display: none;

  .sub_menu_wrap {
    width: 1120px;
    margin: auto;

    li:first-child {
      margin-left: 60px;
    }

    li:not(:last-child) {
      position: relative;
      float: left;
      padding: 22px 0 22px 80px;
    }

    a {
      color: #555;
      font-weight: 600;
      &:hover { color: #002c5f; }
    }

    .close_btn {
      position: relative;
      left: 200px;
      top: 25px;
      cursor: pointer;
      transition: .5s;
    }
  }
}

/* --- 돋보기 서치 메뉴 --- */
.search_menu {
  position: absolute;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 9;
  display: none;

  .search_menu_wrap {
    width: 1120px;
    margin: auto;

    /* 입력창 */
    input {
      width: 500px;
      margin: 30px 280px;
      font-size: 18px;
      border: none;
      padding: 15px 20px;
      outline: none;
    }

    .sub_search_icon {
      position: relative;
      top: -2px;
      right: 25.5%;
      border: none;
      background-color: #fff;
      padding: 18px 19px 19px;
      cursor: pointer;

      img { width: 15px;}
    }

    .search_keyword {
      position: relative;
      margin: auto;
      width: 520px;
      padding-bottom: 90px;

      h3 { padding: 10px 0; }

      li {
        float: left;
        padding-right: 30px;
        color: #555;
        font-size: 18px;
        cursor: pointer;

        a {
          color: #555;
          &:hover { color: #00aad2; }
        }
      }
    }

    .close_btn {
      background-color: #f2f2f2;
      position: relative;
      left: 1100px;
      top: -230px;
      cursor: pointer;
      transition: .5s;
    }
  }
}

/* --- hashtag --- */
#contents {
  position: relative;
  width: 100%;

  .top_contents {
    position: relative;
    width: 1120px;
    margin: auto;

    .hashtag {
      padding: 50px 0 50px;

      ul {
        display: flex;
        text-align: center;
      }

      a {
        display: inline-block;
        padding: 0 30px;
        color: #888;
        font-size: 13px;
        border-right: 1px solid #e1e1e1;
        transition: .5s;
        &:hover { color: #00aad2; }
      }
    }
  }
}

/* --- main contents --- */
.contents {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  .category {
    display: block;
    color: #002c5f;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .subject {
    display: block;
    font-size: 18px;
  }

  .title { font-size: 45px; }
  .contents_img { cursor: pointer; }

  .ioniq_dj_text {
    position: relative;

    .white {
      position: relative;
      padding: 0 18px;
      top: 95px;
      color: #fff;
    }

    h3 { font-size: 23px; }
  }
}

.head_contents {
  padding-bottom: 50px;
  align-items: flex-end;
}

/* --- middle contents --- */
.middle_contents {
  position: relative;
  margin-top: 150px;
  width: 100%;
  background-color: #002c5f;

  .global_area {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 150px;

    .global_text {
      position: relative;
      width: 352px;
      padding: 30px;
      color: #fff;
      word-break: keep-all;

      h3 {
        font-size: 40px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        margin-bottom: 30px;
      }

      button {
        padding: 8px 45px;
        border: none;
        font-size: 16px;
        color: #fff;
        background-color: #777673;
        cursor: pointer;
      }
    }
  }
}

/* --- row contents --- */
.row_contents {
  position: relative;
  width: 1120px;
  margin: auto;
  padding: 70px 0 90px;

  .social_title {
    margin-bottom: 20px;

    p {
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 2px;
      color: #002c5f;
      margin-bottom: 3px;
    }

    h3 { font-size: 40px; }
  }

  // --- 자바스크립트로 생성한 요소 --- //
  .social_contents {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .social_wrap {
      margin-bottom: 20px;
      cursor: pointer;

      .social_text {
        position: absolute;
        display: flex;
        top: 0;
        width: 300px;
        min-height: 300px;
        padding: 30px;
        margin: 29px 28px;
        font-size: 18px;
        color: #fff;
        line-height: 1.5;
        transition: .5s;
        word-break: keep-all;
        z-index: 5;

        .insta_icon {
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: 10%;
        }
      }

      .row_social_text { top: 50%; }
    }
  }
}

/* --- footer --- */
#footer {
  position: relative;
  width: 100%;
  background-color: #000;
}

.footer_wrap {
  width: 1120px;
  margin: auto;
  padding: 74px 0 70px;

  .footer_logo {
    margin-bottom: 75px;
    width: 60px;
  }

  .footer_middle {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  .footer_text {
    position: relative;

    h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 18px;
    letter-spacing: 1px;
    }

    p {
      margin-bottom: 10px;
      font-size: 0.9em;
      color: #c7c1bb;
      letter-spacing: 0.5px;
    }

    li {
      margin-bottom: 10px;
    }

    .ico_link { filter: none; }

    a {
      font-size: 0.9em;
      color: #c7c1bb;
      letter-spacing: 0.5px;
      &:hover { color: #fff; }
    }

    .footer_social {
      position: relative;
      display: flex;

      li { padding-right: 20px; }

      img {
        width: 22px;
        opacity: .7;
        &:hover { opacity: 1; }
      }
    }

    @at-root .copyright {
      font-size: 0.9em;
      color: #c7c1bb;
      letter-spacing: 0.5px;
    }
  }
}